body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  background-color: grey;
  font-family: Calibri;
  color: white;
}

.main-content {
  display: grid;
  justify-content: center;
  font-size: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 500px;
  font-size: 60px;
  background-color: grey;
  border-radius: 50%;
  color: white;
}

.myphoto {
  width: 20%;
  height: 20%;
}