.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  background-color: grey;
  font-family: Calibri;
  color: white;
}


.main-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-button {
  display: flex;
  justify-content: center;
}